.shitBtn, .silenceBtn, .profileSilence {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin-left: 10px;
}

[data-make-twitter-great-again="1"] .shitBtn, 
[data-make-twitter-great-again] .silenceBtn,
[data-profile="true"] .profileSilence {
    display: block;
}

[data-profile="true"] .profileSilence {
    font-size: 28px;
    margin-bottom: 8px;
    margin-right: 8px;
}

[data-make-twitter-great-again][data-pop-open="true"] [role="group"] > div > [role="menu"],
[data-profile][data-pop-open="true"] [role="group"] > div > [role="menu"] {
    opacity: 0;
}

.extensionConfigBtn {
    display: flex;
    justify-items: flex-start;
    align-items: center;
    padding: 15px;
    column-gap: 15px;
    height: 50px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    background-color: transparent;
    border-radius: 40px;
}

.extensionConfigBtn:hover {
    background-color: #e9e9e9;
}

.extensionConfigBtn .icon {
    display: flex;
    justify-items: center;
    align-items: center;
    width: 26px;
    height: 26px;
}

.extensionConfigBtn .text {
    padding-right: 15px;
}

@media (max-width: 1264px) {
    .extensionConfigBtn .text {
        display: none;
    }
}

.extensionModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.75);
}

body[data-extension-config="true"] .extensionModal {
    display: flex;
}

.extensionModal .modalCard {
    display: block;
    max-width: 600px;
    width: 95%;
    border-radius: 10px;
    background: #fff;
    border: 1px solid #ccc;
    font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.extensionModal .modalCard header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #e9e9e9;
}

.extensionModal .modalCard header h3 {
    font-size: 18px;
    line-height: 18px;
    margin: 0;
    padding: 0;
}

.extensionModal .modalCard header .closeExtensionModal {
    border: 0;
    padding: 0;
    margin: 0;
    line-height: auto;
    background: transparent;
    cursor: pointer;
}

.extensionModal .modalCard header .closeExtensionModal svg {
    display: block;
    height: 14px;
}

.extensionModal .modalCard header .closeExtensionModal svg path {
    fill: #999;
}

.extensionModal .modalCard .modalContent {
    padding: 1rem;
}

.extensionModal .modalCard .modalContent .disclaimer {
    display: block;
    background: #f2f1ff;
    border: 1px solid #c6c6eb;
    padding: 1rem;
    font-size: 13px;
    border-radius: 5px;
    color: #7b75cb;
}

.extensionModal .modalCard .modalContent .actions {
    height: 80px;
    margin: 1rem 0;
}

.extensionModal .modalCard .modalFooter {
    text-align: center;
    padding: 0.75rem 1rem;
    border-top: 1px solid #e9e9e9;
}

.extensionModal .modalCard .modalFooter .made {
    font-size: 11px;
    font-weight: 500;
    font-style: italic;
    color: #858585;
    letter-spacing: 0.5px;
}